[submodule "enterprise"]
	path = enterprise
	url = git@github.com:ongood/enterprise.git
	branch = 17.0
	shallow = true
[submodule "odoo"]
	path = odoo
	url = https://github.com/odoo/odoo.git
	branch = 17.0
	shallow = true
